body {
    background: #232323;
    color: #909090;
    font: 100% 'Gentium Basic', serif;
    font-size: 1.2em;
    line-height: 1.7em;
    margin: 0 auto;
    max-width: 61.8%;
    padding: 1em;
}
@media all and (max-width:768px) {
    .main {
        max-width: 100%;
        padding: 1rem;
    }
}

h1 {
    border: none;
    font: 100% 'Playfair Display', sans-serif;
    font-size: 1.8em ;
    font-weight: normal;
    line-height: 1;

}
h2 {
    border: none;
    font: 100% 'Playfair Display', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 2.7em;
}

h3 {
    border: none;
    font: 100% 'Playfair Display', sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
}

h4 {
    font-weight: bolder;
}

code {
    background-color: rgba(0, 43, 54, 0.25);
    border: 1px solid #4a4a4a;
    border-radius: 3px;
    color: #a3a3a3;
    font-size: 0.9em;
    padding: 2px 4px;
}
.highlight pre, .linenodiv pre {
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    line-height: 1.33em;
    padding: 7px 12px;
}
.linenodiv {
    opacity: 0.5;
}
a:link, a:visited {
    border-bottom: 0.5px dotted #acacac;
    color: #c4c4c4;
    text-decoration: none;
}
a:hover {
    color: #fff;
}
h1 a:link, h2 a:link, h3 a:link, h1 a:visited, h2 a:visited {
    border: none;
}
blockquote {
    color: #bbb;
    font-family: "Gentium Basic", serif;
    font-size: 1em;
    font-style: italic !important;
    line-height: 1.5em;
}
a.svg {
    border: none !important;
    display: inline-block;
    position: relative;
}
a.svg:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
a:hover {
    border: none;
}
.topmenu {
    float: right;
    margin: 0;
    padding: 0;
}
.small {
    font-family: "Lato", sans-serif;
    font-size: 0.75em;
}
.foot-foot {
    display: block;
    line-height: 1.55em;
    margin-bottom: 4em;
    margin-top: 2.5em;
}
.foot-foot a, .foot-foot a:visited {
    border-bottom: 1px dotted #666;
    color: #6a6b95;
}
.foot-foot a:hover {
    border: none !important;
}
.page-header {
    border: none !important;
}
hr {
    display: none;
}
.storyfoot {
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
}
a.icon {
    border: none !important;
    display: inline-block;
    position: relative;
}
.entry-content img {
    height: auto;
    max-width: 100%;
}
