body {
    background: #f6f6f6;
    color: #777;
    font: 100% 'Gentium Basic', serif;
    font-size: 1.25rem;
    line-height: 1.75;
    padding: 0
}


h1 {
    color: #859900;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4rem;
}

h2 {
    color: #859900;
    font-size: 2rem;
    font-weight: bolder;
}

article {
    clear: both;
}

.banner {
    background: #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
    font: 100% 'Open Sans', sans-serif;
    line-height: 0.6rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.toplogo {
    float: left;
    margin-left: 1rem;
    text-align: left
}

.topmenu {
    float: right;
    margin-right: 2rem
}

.main {
    clear: both;
    margin: auto;
    margin-top: 12rem;
    max-width: 61.8%
}

@media all and (max-width:768px) {
    .topmenu {
        float: left;
        margin-left: 1rem
    }
    .main {
        max-width: 100%;
        padding: 1rem;
    }
}

.entry-head {
    color: #859900;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

.entry-content {
    margin-bottom: 0;
}

.entry-foot {
    float: right;
    font: 100% 'Open Sans', sans-serif;
    margin-bottom: 2rem;
}

a:link, a:visited {
    border-bottom: 0.5px dotted #333;
    color: #343434;
    text-decoration: none
}

a:hover {
    border-bottom: 1px solid #268bd2;
    color: #222
}

h1 a:link, h1 a:visited {
    border-bottom: none;
    color: #859900;
}

.svg, object {
    vertical-align: bottom;
}

blockquote {
    color: #343434;
    font-style: italic;
    line-height: 1.6;
}

pre, code {
    border: 0.5px dotted #b58900;
    font: 100% 'Inconsolata', monospace;
    padding: 0 2px 0 2px;
}

.small {
    font-size: 0.8rem;
}

.foot-foot {
    clear: both;
    font: 100% 'Open Sans', sans-serif;
    line-height: 0.75rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-top: 4rem;
}
